<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ricardo.wifiservice"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.BIND_REMOTEVIEWS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application>
        <service android:name=".WifiService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ricardo.WifiService.wifiservice"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
</manifest>